{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/favicon.ico' %}">
</head>
<body>

    <header>
        <nav>
            <a href="{% url 'home' %}">
                <img src="{% static 'core/logo.png' %}" alt="LuminaPicks" style="height: 40px; vertical-align: middle;">
            </a>

            <ul style="list-style: none; display: flex; gap: 20px;">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'movie-recommender' %}">🎬 Movies</a></li>
                    <li><a href="{% url 'series-recommender' %}">📺 Series</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">🚪 Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'profile' %}">👤 Your Profile</a></li>
                {% else %}
                    <li><a href="{% url 'login-page' %}">🔐 Login</a></li>
                    <li><a href="{% url 'register-page' %}">📝 Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <hr>

        {% block body %}
        {% endblock %}

    <hr>

    <footer>
        <p style="text-align: center; font-size: 14px; color: gray;">
            © 2025 ContentLumina
        </p>
    </footer>

</body>
</html>