{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <header class="main-header">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'core/logo.png' %}" alt="LuminaPicks Logo">
                </a>
            </div>

            <ul class="nav-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'movie-recommender' %}">🎬 Movies</a></li>
                    <li><a href="{% url 'series-recommender' %}">📺 Series</a></li>
                    <li><a href="{% url 'anime-recommender' %}">🌸 Anime</a></li>
                    <li><a href="{% url 'games-recommender' %}">🎮 Games</a></li>
                    <li><a href="{% url 'profile' %}">👤 Your Profile</a></li>

                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-icon-btn" title="Logout">⏻</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login-page' %}">🔐 Login</a></li>
                    <li><a href="{% url 'register-page' %}">📝 Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>


    <footer class="footer">
    <div class="footer-content">
        <p class="footer-text">© 2025 <span class="footer-brand">LuminaPicks</span> — All rights reserved.</p>
        <p class="footer-powered">Powered by ChatGPT✨</p>
    </div>
    </footer>

</body>
</html>